body{
    background-color: black;
    color: white;
}

.images{
    justify-content: space-evenly;
    margin-top: 50px;
    display: flex;
}
p{
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner:hover{
    transform: scale(1.1);
    transition: 1s ease;
}
@keyframes rotateimage {
    from{
        transform: rotateZ(0deg);
    }
    to{
transform: rotateZ(360deg);
    }
}
.images img:hover{
    animation: rotateimage 0.9s ease;
}